@mixin button (){ background-color: bl;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 8px;
    width: 400px;
    &:hover{  
        background-color: #f8c0ff;
        color: black;
    }
    
}

