@use "./vendor/normalize";
@use "partials/colors";
@use "partials/mixins";
@use "partials/typography";


.navigation {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f8c0ff;
    color: #FFF496;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  div { font-family: typography.$title;
      font-weight: bolder;
      align-items: center;
    }

  li {display: inline-block;
    
    color: white;
    } 

  ul {
    display: flex;
    gap: 15px;
}
  a {font-family: typography.$primary-font;
  color: #000000;
  text-decoration: none;
}

nav a:hover{
	text-decoration: underline;
}












.main_btn {
    @include mixins.button ();
    font-family: typography.$primary-font;
    background-color: black
 
  
}

.sec_btn {
    @include mixins.button ();
    font-family: typography.$primary-font;
}


.above {
    h1 {font-family: typography.$heading}
    h2 {font-family: typography.$title}
    p  {font-family: typography.$primary-font;}
    p2 {font-family: typography.$title}
    p3 {font-family: typography.$title}
    p4 {font-family: typography.$title}
}

.above {
    
    article { 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;}
    p {text-align: center;
      background-color:#fbd7ff;
       padding: 15px;
    width: 80%;
    }
   
}


.above {
  p3 {
    background-color: #FEBE49 ;
    padding: 15px;
    width: 80%;
  }
}

.pay{
  font-size: 2rem;
  display: inline-grid;
  display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    column-gap: 200px;
  }

.above{
  h1 {
    padding-bottom: 0;
  }
}

.above {
  p4 {
    font-size: 3rem;
  }
}


.above {
  p2 {
    font-size: 1rem;
  }
}


.above {
  p {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}



































































